<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <!--<register type="Demo.Data.Models.DemoContext, Demo.Data" >
        <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
      </register>-->
      <register type="Demo.Data.Repositories.IUserInfoRepository, Demo.Data" mapTo="Demo.Data.Repositories.UserInfoRepository, Demo.Data" />
      <register type="Demo.ServiceInterface.IUserInfoService, Demo.ServiceInterface" mapTo="Demo.Service.UserInfoService, Demo.Service" />
    </container>
  </unity>
</configuration>
