
@{
    ViewBag.Title = "ShowPerf";
}

<div class="row">
    <div class="col-md-6">
        <div class="row" data-bind="foreach:counters">
            <div class="col-md-12">
                <h2 data-bind="text:name"></h2>
                <canvas width="800" height="100" data-bind="attr:{'id': name}"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>

@section scripts{
    <script src="~/Scripts/require.js" data-main="@Href("~/Scripts/perfClient.js")"></script>
}